<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Minden ami fa, sőt még több!</h2>
                <hr class="light">
                <p class="text-faded">Cégünk az ÖKO-HUNGARY Szociális Szövetkezet 2010 óta fogalkozik faipari hulladékok újrahasználásával és újrahasznosításával. Kezdetben fűrészporból és faipari hulladékokból készítettünk brikett kedvező fűtőértékű brikett tüzelőanyagokat. Ebben az időszakban adományozások révén több olyan megunt bútorhoz jutottunk hozzá amit nem volt szívünk felaprítani hanem inkább megkezdtük felújításukat.</p>
<p class="text-faded">2015 óta foglalkozunk elsősorban bútorok újrahasznosításával. Célunk hogy a használt bútorok új életre keljenek és új tulajdonosok lakását díszíthessék. Az ódon termékeket modern eljárásokkal vesszük kezelésbe, így egy naprakész és kreatív dizájn a végeredmény. A hagyományos csiszolás, kárpitozás festés lépésein felül esetenként segítségül hívjuk a lézervágó, gravírozó és 3d nyomtató gépeinket, hogy biztosak lehessünk abban minden termék ami műhelyünkből kikerül egy egyedi mű legyen.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Lépjünk kapcsolatba!</a>
            </div>
        </div>
    </div>
</section>
