<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Introducing Coach Dani</h2>
                <hr class="light">
                <p class="text-faded">Coach Dani- pronounced similar to Donny - comes from a rigorously competitive European athletic upbringing with a holistic approach that puts a heavy emphasis on both academics and athletics. With his experience of striving to be excellent day in and day out carried him through his Division 1 collegiate and professional careers. Today his mission is to help players find confidence on and off the soccer field, encourage them to set goals and train them how to stay resilient in order to achieve them.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Sign up for a phone consolation with Coach Dani</a>
            </div>
        </div>
    </div>
</section>
