<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>Contact Coach Dani today to secure a spot for the next training session.</p>

  <hr class="primary">
            </div>

        <div class="col-lg-4 col-md-6 text-center">
            <a href="https://facebook.com/{{ site.facebook_username }}">
                <i class="fab fa-facebook fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.facebook_username }}</p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
                <i class="fab fa-instagram fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
                <i class="fas fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Contact form</p>
            </a>
        </div>


    </div>
</section>
