<div class="container">
    <div class="row">
            </div>
</div>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">

        <div class="row no-gutter">





<div class="col-lg-4 col-sm-6"><img src="{{ site.url }}/img/soccer/resized/vs5.jpg" class="img-responsive" alt=""></div>
<div class="col-lg-4 col-sm-6"><img src="{{ site.url }}/img/soccer/resized/vs11.jpg" class="img-responsive" alt=""></div>
<div class="col-lg-4 col-sm-6"><img src="{{ site.url }}/img/soccer/resized/vs7.jpg" class="img-responsive" alt=""></div>



        </div>
    </div>
</section>
