<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ site.url }}">Vegas Soccer Training</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{ site.url }}#about">Coach</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.url }}#programs">Programs</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.url }}#results">Results</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.url }}#testimonials">Testimonials</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.url }}#location">Location</a>
                </li>
                            <li>
                    <a class="page-scroll" href="{{ site.url }}#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
