<section id="programme">
    <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>The results you can expect from Vegas Soccer Training</h2>

                <p class="text-muted">
                  Developing self confidence on and off the field

                  Better ball mastery skills

                  Better technique

                  Better understanding of the game

                  Social skills

                  Discipline

                  Teamwork

                  Sportsmanship

                  Learning to accept defeat at times
                </p>

          </div>
      </div>
  </aside>
  </section>
