<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Current Programs</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-futbol wow bounceIn text-primary"></i>
                    <h3>Soccer Training</h3>
                    <p class="text-muted">Join our customized “small group training” or our “1-on-1 private training” to get the extra attention to details that will take your child’s game to the next level.</p>
                    <a href="{{ site.url }}/contact?interested=smallgrouptraining" class="btn btn-inline btn-dark page-scroll">Sign up for a call with Coach Dani</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-4x fas fa-medal wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Future Champion Scholarship</h3>
                    <p class="text-muted">The Future Champion Scholarship was created for the most dedicated and experienced 2008/2009/2010 boys and girls to help them and their families to get to the next level.</p>
<a href="{{ site.url }}/contact?interested=scholarship" class="btn btn-inline btn-dark page-scroll">Apply for future champion scholarship</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-campground wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Soccer Camps</h3>
                    <p class="text-muted">Join our recurring soccer camps to focus on the game and hone your skills.</p>
<a href="{{ site.url }}/contact?interested=camp" class="btn btn-inline btn-dark page-scroll">Apply for soccer camps</a>
                </div>
            </div>

        </div>
    </div>
</section>
