<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">


                    <p class="text-muted">My son has been working with coach Daniel for the past couple of months. During this time period, he's proven himself to be a very professional, knowledgeable and strategic from a skill development perspective. My son's abilities have improved both skills and confidence in the game. In addition, Daniel challenges him and my son enjoys working with him. He's a good coach that has established goals/objectives with my son and plan to achieve them</p>
                    <i>Jason, Las Vegas, NV</i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">


                  <p class="text-muted">My daughter is really enjoying her sessions and her skills are improving by each session with Coach Daniel. Coach Daniel has all the things you look for in a coach to increase your developing soccer skills. He loves to teach fundamentals and believes in building soccer skills from the basics and up. We were especially happy to know when he came to our daughters soccer game, introduced himself to the coaches - all in the interest of improvement. I would recommend Coach Daniel to anyone.</p>
                  <i>Tamas, Las Vegas, NV</i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">


                  <p class="text-muted">Great coach!!! Very knowledgeable, very professional, very skillful. I'm really happy with the training. I find the training sessions very beneficial for my son. I'm really happy with Daniel </p>
                  <i>Lubo, Las Vegas, NV</i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">

                  <p class="text-muted">Coach Daniel is a gem! I wasn’t sure what to expect, ordering lessons online - but I’m so happy I did! My 12yo son wanted to try out for the school soccer team, but hadn’t played in two years. Coach Daniel made time in his schedule and worked with him every day for almost a week. He is personable, great with kids, constructive in his approach. He has given my son the skills and confidence for his tryout!</p>
                  <i>Jennifer, Las Vegas, NV</i>

                </div>
            </div>
        </div>
    </div>
</section>
