---
layout: default
---
 <section class="bg-primary post" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ page.title }}</h2>
<hr class="light">
                <p class="text-faded">{{ page.description }}</p>
            </div>
        </div>
    </div>
</section>

 <div class="row">
 <div class="content">
      <div class="container col-lg-8 col-lg-offset-2 text-center">
<br/>
{% if page.image %}
				<img src="{{ site.url }}{{ page.image }}" width="100%" >
				{% endif %}
<br/>
<br/>
 {{ content }}
<script src="https://www.commencepayments.com/v2/commence.js"
 data-payment-method="credit-card"
 data-plan="sub360"
 data-panel-label="Subscribe Now"
 data-description="Soccer Training Subsription ($360)"
 data-name="Vegas Soccer Training"
 data-billing-address="true"
 data-key="pk_live_jtsXuC2BxOnXJbtagBma7WQA"
></script>
      </div>
  </div><!-- end .content -->
   </div>
